{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>Instagram</title>
</head>
<body>
<div id="wrap">
  <header class="top-header">
    <nav>
      <div class="nav-left nav-item">
        <a href="{% url 'post:post_list' %}">
          <img src="{% static 'images/logo.png' %}" alt="">
        </a>
      </div>
      <div class="nav-center nav-item">
        <input type="text" placeholder="검색">
      </div>
      <div class="nav-right nav-item">
        <a href="#">
          <img src="{% static 'images/icon_explore.png' %}" alt="">
        </a>
        <a href="#">
          <img src="{% static 'images/icon_heart.png' %}" alt="">
        </a>
        <a href="#">
          <img src="{% static 'images/icon_profile.png' %}" alt="">
        </a>
      </div>
    </nav>
    <nav>
      {% if user.is_authenticated %}
        <span>{{ user }} 가 로그인 중입니다.</span>
        <a href="{% url 'member:logout' %}" class='btn'>로그아웃</a>

      <div>
        {% else %}
        <form action="" method="POST">
          {% csrf_token %}
          {{ form }}
          <button type="submit"><a href="{% url 'member:login' %}">login</a></button>
        </form>
        {% endif %}
      </div>
    </nav>
  </header>

<!-- <div class="test">
  {% if user.is_authenticated %}
    {{ user }} 가 로그인 중입니다.
  {% else %}
    로그인하세요.
  {% endif %}
</div> -->

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</div>
</body>
</html>
